.wrapper
	.chat-side
		.side-header
			.side-header__box
				%p.side-header__box__user-name user name
				%ul.side-header__box__menu
					%li.side-header__box__menu__edit-user
						%a{href: "/groups/new"}
							%i.fa.fa-edit.icon-color
					%li.side-header__box__menu__new-group
						%a{href: "/users/"}
							%i.fa.fa-cog.icon-color

		.groups
			%a{href: "groups/"}
				.group
					%p.group__group__name text text 
					%p.group__group__message text text text
	.chat-main
		.main-header
			.main-header__left-box
				%h2.main-header__left-box__current-group.main-header__left-box__current-group Text
			.main-header__edit-btn Edit
		.messages
			.messages__upper-info
				%p.messages__upper-info__user testtest
				%p.messages__upper-info__date 20**/**/**/(**) **:**
			%p.message__text textexttext
		.form





