.chat-main {
	width: calc(100% - 300px);
	float: left;
	.main-header {
		height: 100px;
		padding: 0 40px;
		border-bottom: 1px solid #eeeeee;
		justify-content: space-between;
		display: flex;
		overflow: scroll;

		&__left-box {
			margin-top: 35px;
			h2.main-header__left-box__current-group {
				margin-bottom: 15px;
				font-size: 20px;
				color: #333333

			}
			p {
				font-size: 12px;
				color: #999999;

			}
		}
	}
	a {
		color: #38aef0;

		.main-header__edit-btn {
			border:solid 1px #38aef0;
			display: inline-block;
			padding: 7px 20px;
			position: relative;
			top: 28px;


		}
	}
	
	.messages {
		height: calc(100vh - 190px);
		padding: 46px 40px;
		@include messages;
		overflow: scroll;
		.message {
			padding-bottom: 40px;

			.message__upper-info {
				display: flex;
				margin-bottom: 10px;
				p.message__upper-info__user {
					font-size: 16px;
					font-weight: bold;
					color: #434a54;

				}
				p.message__upper-info__date {
					font-size: 12px;
					margin-left: 10px;
					color: #999999;

				}
				p.message__text {
					color: #434a54;
					font-size: 14px;
					margin-bottom: 10px;
				}


			}

		}
		
	}
}