.form {
  height: 90px;
  @include form-color;
  display: inline-block;
  width: calc(100% - 300px);
  position: fixed;
  bottom: 0;

  .new-message {
    position: relative;

    .input-box {
      position: absolute;
      width: calc(100% - 190px);
      left: 40px;
      top: 20px;

      &__text {
        .content {
          position: absolute;
          width: 100%;
          height: 46px;
          padding-left: 20px;
        }
      }
      &__image {
        font-size: 1.3rem;
        position: absolute;
        top: 10px;
        right: -10px;
        cursor: pointer;

        i.fa.image {
          display: inline-block;
        }
        .hidden {
          display: none;
          }
      }
    }
    .submit-btn{
       position: absolute;
        width: 80px;
        height: 50px;
        text-align: center;
        right: -110px;
        border: none;
        background-color: #38AEF0;
        color: white;
        cursor: pointer;
    }
  }
}
