/*
 *= require font-awesome
 */

@import "./reset";
@import "./module/setting";
@import "./module/chat-side";
@import "./module/chat-main";
@import "./module/form.scss";

#body {
	display: none;
	box-sizing: border-box;
	background: #FFF;

	}