@import "font-awesome";
@import "./reset";
@import "./config/colors";
@import "./module/flash";
@import "./module/setting";
@import "./module/chat-side";
@import "./module/chat-main";
@import "./module/form";
@import "./module/user";


#body {
  display: none;
  box-sizing: border-box;
  background: #FFF;

  }
